$palette-primary10: #1A237E;
$palette-primary9: #283593;
$palette-primary8: #303F9F;
$palette-primary7: #3949AB;
$palette-primary6: #3F51B5;
$palette-primary5: #5C6BC0;
$palette-primary4: #7986CB;
$palette-primary3: #9FA8DA;
$palette-primary2: #C5CAE9;
$palette-primary1: #E8EAF6;


$palette-neutral10: #263238;
$palette-neutral9: #37474F;
$palette-neutral8: #455A64;
$palette-neutral7: #546E7A;
$palette-neutral6: #607D8B;
$palette-neutral5: #78909C;
$palette-neutral4: #90A4AE;
$palette-neutral3: #B0BEC5;
$palette-neutral2: #ECEFF1;
$palette-neutral1: #F2F5F7;


$palette-accent10: #01579B;
$palette-accent9: #0277BD;
$palette-accent8: #0288D1;
$palette-accent7: #039BE5;
$palette-accent6: #03A9F4;
$palette-accent5: #29B6F6;
$palette-accent4: #47C3F7;
$palette-accent3: #81D4FA;
$palette-accent2: #B3E5FC;
$palette-accent1: #E1F5FE;

$palette-accent14: #AEEA00;
$palette-accent13: #C6FF00;
$palette-accent12: #EEFF41;
$palette-accent11: #F4FF81;

$palette-red10: #B71C1C;
$palette-red9: #C62828;
$palette-red8: #D32F2F;
$palette-red7: #E53935;
$palette-red6: #F44336;
$palette-red5: #E55350;
$palette-red4: #E57373;
$palette-red3: #EF9A9A;
$palette-red2: #FFCDD2;
$palette-red1: #FFEBEE;

$palette-yellow10: #F57F17;
$palette-yellow9: #F9A825;
$palette-yellow8: #FBC02D;
$palette-yellow7: #FDD835;
$palette-yellow6: #FFEB3B;
$palette-yellow5: #FFEE58;
$palette-yellow4: #FFF176;
$palette-yellow3: #FFF59D;
$palette-yellow2: #FFF9C4;
$palette-yellow1: #FFFDE7;

$palette-green10: #1B5E20;
$palette-green9: #2E7D32;
$palette-green8: #388E3C;
$palette-green7: #43A047;
$palette-green6: #4CAF50;
$palette-green5: #66BB6A;
$palette-green4: #81C784;
$palette-green3: #A5D6A7;
$palette-green2: #C8E6C9;
$palette-green1: #E8F5E9;
